.grid {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;

    table,
      th,
      td {
        padding: 1rem 3rem;
        border: 1px solid black;
        border-collapse: collapse;
      }
}

