.header {
    display: flex;
    height: 6.5rem;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 16rem;
}

.character {
    display: flex;
    flex-direction: column;

    p {
       padding: 0.2rem 0;   
       color: var(--blue-100); 
       text-transform: uppercase;
       font-size: 0.7rem;
       font-weight: 500;
    }

    input {
        border: 1px solid var(--gray-200);
        padding: 0.6rem;
        border-radius: 0.4rem;
        outline: none;
    }

    input::placeholder {
        color: var(--gray-200);
        font-size: 0.8rem;
    }
}

.watch {
    img {
        width: 3rem;
    }
}

.generateButton {
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    background: var(--blue-100);
    color: var(--gray-50);
    border-radius: 0.2rem;
	border: none;
	outline: inherit;

}